extends layout

block head


block header
  div.container
    h1.text-center Oops!  Something went wrong...
    h1.text-center= message
    h2.text-center= error.status
    pre #{error.stack}


block content

block feature0
  p Feature 0 reporting for duty

block feature1
  p This is feature 1 here!

block feature2
  p Today's feature 2 is here too...

block feature3
  p Feature 3 is in the hizzou!

block footer